3. semester projekt/pc_store_desktop_client/WindowsFormsPCStore/Connected Services/ProductServiceReference/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="_categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="_supplierId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfUniqueProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniqueProduct" nillable="true" type="tns:UniqueProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniqueProduct" nillable="true" type="tns:ArrayOfUniqueProduct" />
  <xs:complexType name="UniqueProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="_serialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniqueProduct" nillable="true" type="tns:UniqueProduct" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>