3. semester projekt/pc_store_desktop_client/WindowsFormsPCStore/Connected Services/CategoryServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="ReadResult" nillable="true" type="q1:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>