3. semester projekt/pc_store_desktop_client/WindowsFormsPCStore/Connected Services/EmployeeServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/EmployeeService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/EmployeeService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Exceptions" />
      <xsd:import schemaLocation="http://localhost:8733/EmployeeService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/EmployeeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Create_EmployeeNotCreatedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q1:EmployeeNotCreatedException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ReadByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByUsername" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ReadByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ReadByUsername_EmployeeNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q2:EmployeeNotExistException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CompareHashes_InputMessage">
    <wsdl:part name="parameters" element="tns:CompareHashes" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CompareHashes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompareHashesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CompareHashes_EmployeeNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q3:EmployeeNotExistException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Create" message="tns:IEmployeeService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/CreateResponse" message="tns:IEmployeeService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/CreateEmployeeNotCreatedExceptionFault" name="EmployeeNotCreatedExceptionFault" message="tns:IEmployeeService_Create_EmployeeNotCreatedExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Read" message="tns:IEmployeeService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/ReadResponse" message="tns:IEmployeeService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/ReadByUsername" message="tns:IEmployeeService_ReadByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/ReadByUsernameResponse" message="tns:IEmployeeService_ReadByUsername_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/ReadByUsernameEmployeeNotExistExceptionFault" name="EmployeeNotExistExceptionFault" message="tns:IEmployeeService_ReadByUsername_EmployeeNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompareHashes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/CompareHashes" message="tns:IEmployeeService_CompareHashes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/CompareHashesResponse" message="tns:IEmployeeService_CompareHashes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/CompareHashesEmployeeNotExistExceptionFault" name="EmployeeNotExistExceptionFault" message="tns:IEmployeeService_CompareHashes_EmployeeNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Update" message="tns:IEmployeeService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateResponse" message="tns:IEmployeeService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmployeeNotCreatedExceptionFault">
        <soap:fault use="literal" name="EmployeeNotCreatedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByUsername">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/ReadByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmployeeNotExistExceptionFault">
        <soap:fault use="literal" name="EmployeeNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CompareHashes">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/CompareHashes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EmployeeNotExistExceptionFault">
        <soap:fault use="literal" name="EmployeeNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8733/EmployeeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>