3. semester projekt/pc_store_desktop_client/WindowsFormsPCStore/Connected Services/EmployeeServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeNotCreatedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeNotCreatedException" nillable="true" type="tns:EmployeeNotCreatedException" />
  <xs:complexType name="EmployeeNotExistException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeNotExistException" nillable="true" type="tns:EmployeeNotExistException" />
</xs:schema>