3. semester projekt/pc_store_web_client/WebUI/Connected Services/CustomerServiceReference/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_fName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_lName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_zipCity" nillable="true" type="tns:ZipCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ZipCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_zipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCity" nillable="true" type="tns:ZipCity" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>