3. semester projekt/pc_store_web_client/WebUI/Connected Services/CustomerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Domain" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Exceptions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Read_CustomerNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q1:CustomerNotExistException" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ReadByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByPhone" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ReadByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_ReadByPhone_CustomerNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q2:CustomerNotExistException" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Update_CustomerNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q3:CustomerNotExistException" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAll_CustomerNotExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Exceptions" name="detail" element="q4:CustomerNotExistException" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Create" message="tns:ICustomerService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateResponse" message="tns:ICustomerService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Read" message="tns:ICustomerService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/ReadResponse" message="tns:ICustomerService_Read_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomerService/ReadCustomerNotExistExceptionFault" name="CustomerNotExistExceptionFault" message="tns:ICustomerService_Read_CustomerNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/ReadByPhone" message="tns:ICustomerService_ReadByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/ReadByPhoneResponse" message="tns:ICustomerService_ReadByPhone_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomerService/ReadByPhoneCustomerNotExistExceptionFault" name="CustomerNotExistExceptionFault" message="tns:ICustomerService_ReadByPhone_CustomerNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Update" message="tns:ICustomerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateResponse" message="tns:ICustomerService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerNotExistExceptionFault" name="CustomerNotExistExceptionFault" message="tns:ICustomerService_Update_CustomerNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAll" message="tns:ICustomerService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllResponse" message="tns:ICustomerService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICustomerService/GetAllCustomerNotExistExceptionFault" name="CustomerNotExistExceptionFault" message="tns:ICustomerService_GetAll_CustomerNotExistExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomerNotExistExceptionFault">
        <soap:fault use="literal" name="CustomerNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadByPhone">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ReadByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomerNotExistExceptionFault">
        <soap:fault use="literal" name="CustomerNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomerNotExistExceptionFault">
        <soap:fault use="literal" name="CustomerNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomerNotExistExceptionFault">
        <soap:fault use="literal" name="CustomerNotExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/CustomerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>