3. semester projekt/pc_store_web_client/WebUI/Connected Services/ZipCityServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ZipCityService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="ReadResult" nillable="true" type="q1:ZipCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadByZipCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadByZipCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="ReadByZipCodeResult" nillable="true" type="q2:ZipCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfZipCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>