3. semester projekt/pc_store_desktop_client/WindowsFormsPCStore/Connected Services/ZipCityServiceReference/Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ZipCity">
    <xs:sequence>
      <xs:element minOccurs="0" name="_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_id" type="xs:int" />
      <xs:element minOccurs="0" name="_zipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCity" nillable="true" type="tns:ZipCity" />
  <xs:complexType name="ArrayOfZipCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCity" nillable="true" type="tns:ZipCity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCity" nillable="true" type="tns:ArrayOfZipCity" />
</xs:schema>